
.vs/MarketStream/v16/Server/sqlite3/db.lock
.vs/MarketStream/v16/Server/sqlite3/storage.ide
.vs/MarketStream/v16/Server/sqlite3/storage.ide-shm
.vs/MarketStream/v16/Server/sqlite3/storage.ide-wal
Differentiator/bin/Debug/EntityFramework.dll
Differentiator/bin/Debug/EntityFramework.SqlServer.dll
Differentiator/bin/Debug/EntityFramework.SqlServer.xml
Differentiator/bin/Debug/EntityFramework.xml
